<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="CreateTask.css">
</head>
<body>
<form th:action="@{/adminPanel/createTask}" th:method="post">

    <label>Title </label>
    <input type="text" id="title" th:name="title">
    <br>
    <label>Description</label>
    <input type="text" id="description" th:name="description">
    <br>


    <label>Tag </label>
    <input type="text" id="tag" th:name="tag">
    <br>

    <a href="#" class="btn">Create Task</a>
</form>
</body>
</html>