<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/CreateTask.css">
</head>
<body>
<form th:action="@{/adminPanel/createTask}" th:method="post">

    <header>
        <h1>Code Run</h1>
    </header>

    <label id="tit">Title</label>
    <input type="text" id="titleBox" th:name="title"><br>

    <label id="des">Description</label>
    <input type="text" id="descriptionBox" th:name="description"><br>

    <label id="ta">Tag</label>
    <input type="text" id="tagBox" th:name="tag"><br>

    <input type="submit" value="Create Task"  class="btn">
</form>
</body>
</html>