<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/Home.css">
</head>
<body>
<header>
    <h1>Code Run</h1>
</header>

<form th:action="@{/logout}" th:method="post">
    <input type="submit" value="LogOut" class="btn1">
</form>

<div sec:authorize="hasAuthority('ADMIN')">
    <form th:action="@{/adminPanel}" th:method="get">
        <input type="submit" value="AdminPanel" class="btn2">
    </form>
</div>

<div th:each="task: ${tasks}">
    <div sec:authorize="hasAuthority('ADMIN')">
        <div th:text="${task.getId()}"></div>
    </div>
    <div th:text="${task.getTitle()}"></div>
    <div th:text="${task.getDescription()}"></div>
    <div th:text="${task.getDifficult()}"></div>
    <div th:each="tag: ${task.getTags()}">
        <div th:text="${tag.getName()}"></div>
    </div>
</div>
</body>
</html>