<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form th:method="POST" th:action="@{/login}">
    <input type="text" name="username" required="">
    <label>Username</label>
    <br>
    <input type="text" name="password" required="">
    <label>Password</label>
    <br>
    <input type="submit" value="Login">
</form>

<form th:action="@{/registration}" th:method="GET">
    <input type="submit" value="Register">
</form>
</body>
</html>