<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:method="POST" th:action="@{/registration}">
    <label>Username</label>
    <input type="text" name="username">
    <br>
    <label>Password</label>
    <input type="text" name="password">
    <br>
    <input type="submit" value="Register">
    <div th:if="${message}" th:text="${message}" style="color:aliceblue; font-size: 25px;"></div>
    <br>
</form>
</body>
</html>