<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../static/css/Registration.css">
</head>
<body>
<form th:method="POST" th:action="@{/registration}">
    <header>
        <h1>Code Run</h1>
    </header>
    <label id="regUsen">Username</label>
    <input type="text" name="username" id="regUsernameBox">
    <br>
    <label id="regPas">Password</label>
    <input type="text" name="password" id="regPasswordBox">
    <br>
    <input type="submit" value="Register" class="btn5">
    <div th:if="${message}" th:text="${message}" style="color:aliceblue; font-size: 25px;"></div>
    <br>
</form>
</body>
</html>